<!-- Doctype html -->
<html ng-app="wolflinehelper">
<head>
	<title>CSC574Project</title>
	<!-- NC State Bootstrap CSS -->
	<link href="./bootstrap.css"
	rel="stylesheet" media="screen" type="text/css" />

	<style type="text/css">
		body {
			margin: 25px;
		}
	</style>
</head>
<body class="text-center" ng-controller="PopupCtrl">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=605610862935452";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	 <h1 class="text-primary">WolflineHelper</h1>
	 	<label>I am at ..</label><br>
	 {{hello}}
	 	<select class="form-control" ng-model="waitingfor" ng-change="update()">
	 	  <option ng-repeat="stop in stops" value="{{stop.stop_id}}">{{stop.name}}</option>
	 	</select>
		 <label>waiting for ..</label><br>
		 <select class="form-control" ng-model="route_id" ng-change="updatedRouteID()">
		   <option ng-repeat="(route_id, times) in arrivals" value="{{route_id}}">
		   	{{routesdic[route_id]}} at  {{times | date : 'h:mma'}}
		   	<span ng-repeat="t in data.times" ng-show="$index<4"></span>
		   </option>
		 </select>
	 	 Remind me in ..<br>
	 	 <button ng-repeat="time in waittimes" class="btn btn-primary" ng-click="remindin(time)" ng-disabled="buttondisabled">{{time}} min</button>
	 	 <br>
	 	 <br>
	 	 <label class="text-success" style="height:32px">{{status}}</label>
	 	 <br>
	<footer>
		<a target="_blank" href="http://www.about.me/ntadikonda">Credits</a>
	</footer>
       <!-- jQuery 2.1.0 -->
   <script type="text/javascript" src="./jquery.min.js"></script>

   <!-- Bootstrap JS -->
   <script type="text/javascript" src="./bootstrap.min.js"></script>

   <!-- Angular JS -->
   <script type="text/javascript" src="./angular.min.js"></script>

   <script type="text/javascript" src="./angular-resource.min.js"></script>
	 <script src="./popup.js"></script>
</body>
</html>